*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #809faa;
}
.contact .content
{
	max-width: 1000px;
	text-align: center;
}
.contact .content h2
{
	font-size: 100px;
	font-weight: 500;
	color: #fff;
}
.contact .content p
{
	font-size: 300;
	color: #fff;
}
.container
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
}
.container .contactInfo
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box 
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 50%;
    font-size: 22px;
}